body {
    background-color: #DA4848;
    max-height: 100%;
    max-width: 100%;
}

html {
    max-height: 100%;
    max-width: 100%;
}

.frame-block {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.frame-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 2em;
}


.lower-bar {
    margin-top: -4em;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: baseline;
    gap: 2.8em;
    z-index: 4;
    align-self: flex-end;
}

.i {
    font-family: monospace;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #FFFFFF;

}

.info-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #A33333;
    border: 1px solid #A33333;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25), inset 0px -4px 8px rgba(0, 0, 0, 0.25), inset -4px 4px 8px rgba(255, 255, 255, 0.4);
}

.search-bar {
    display: flex;
    align-items: center;
    gap: .8em;
}

input:valid {
    background-color: aqua;
}

input[type=text] {
    max-width: 480px;
    width: 280px;
    height: 40px;
    border-width: 0px;
    background-color: rgba(72, 72, 72, 0.4);
    border-radius: 16px;
    font-family: monospace;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.04em;
    padding-left: 1em;

}

::placeholder {
    padding-left: .48em;
    color: #232323;
    font-family: monospace;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.04em;
}

.search-button {
    width: 72px;
    height: 40px;
    border-width: 0px;
    background: #484848;
    border-radius: 16px;

    font-family: monospace;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.08em;

    color: #FFFFFF;

    cursor: pointer;

}

.screen-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28em;
    height: 20em;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: auto;
    height: auto;
    margin-top: -7.2em;

}

#pokemon-image {
    height: 16em;
}

.info {
    margin-top: -8em;
    align-items: left;
    flex-direction: column;
    width: 100%;
    font-size: 12px;
    font-family: monospace;
    font-style: normal;
    font-weight: 100;
    line-height: 12px;
    max-height: 100%;
    min-width: 0%;
    min-height: 0;
    padding-left: 8em;
    color: royalblue;

}

.hide {
    visibility: hidden;
}

.stat {
    color: royalblue;
}

.title {
    color: navy;
}

.catch-button {
    z-index: 4;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-image:
        linear-gradient(to bottom,
            #7e308e 50%,
            #7e308e 50%,
            #FFFFFF 50%,
            #FFFFFF 50%);
    border: 1px solid #A33333;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25), inset 0px -4px 8px rgba(0, 0, 0, 0.25), inset -4px 4px 8px rgba(255, 255, 255, 0.4);
    margin-top: 0.8em;
}

.pokeball-button {
    background-color: #FFFFFF;
    position: relative;
    border-radius: 100%;
    border: 2px solid #232323;
    height: 10px;
    width: 10px;
    z-index: 5;
}

.header-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.4em;
    color: beige;
    font-size: 16px;
    font-family: monospace;
    font-style: normal;
    font-weight: 100;
    line-height: 12px;
    letter-spacing: 2.4px;
}

.main-header {
    cursor: pointer;
}

.team-header {
    cursor: pointer;
}

.card {
    display: flex;
    height: 360px;
    width: 240px;
}

.card-body {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    border-radius: 16px;
    background-color: rgb(16, 16, 71);
    border: 8px solid rgb(225, 225, 73);
    height: 360px;
    width: 240px;
}

.card-image-container {

    margin-top: -4em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    height: 232px;
    border-radius: 8px;
    background-color: beige;
    box-shadow: inset -64px 40px 80px rgba(255, 255, 255, 1);
}

.pokemon-card-image {

    width: 200px;

}

.pokemon-card-name {
    margin-bottom: -1em;
    align-self: center;
    color: beige;
    font-size: 16px;
    font-family: monospace;
    font-style: normal;
    font-weight: 100;
    line-height: 12px;
    letter-spacing: 2.4px;
}

.team-block {
    display: flex;
    margin-top: -36em;
}

.team-list-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 4em;
}